.wrapper{
    background-color: #fff;
}

.text{
    text-align: center;
    font-style: bold;
}

.image{
    width: 600px;
    height: 300px;
    position: absolute;
    left: 500px;
}
.desc{
    text-align: justify;
    font-family: cursive;
}

.box1{
   width: 500px;
   height: 400px;
   padding: 1rem;
   position: absolute;
   bottom: -150px;
   left: 250px;
   top:540px;
   margin-bottom: 2px;
}

.box2{
   width:500px;
   height:400px;
   position: absolute;
   padding: 1rem;
   bottom: -150px;
   right: 200px;
   top:540px;
 }

 .p1{
    font-family:monospace;
    align-items: center;
 }

 .aboutfooter{
    margin-top: 750px;
    
 }